<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center profile_welcome">Create your profile</h2>
      <p class="text-center profile_welcome">Be a part of the IoT DevMatch Community and fill out your profile!</p>
        <div class="well">
          <%= render "form" %>
        </div>
      </div>
  </div>
</div>
