<div class="container about_us">
  <h2 class= "text-center">About Us</h2>
  <br/>
  <p id="about_info">We are the <strong>Internet of Things DevMatch</strong>.</p> 
  <br/>
  <p id="about_info">Our company focuses on creating an exclusive community of 
  <strong>developers</strong>, <strong>data scientists</strong> and 
  <strong>entrepreneurs</strong> interested in the Internet of Things.<br> 
  Members can connect with like-minded professionals, pitch their ideas, collaborate 
  in building meaningful <strong>smart</strong> solutions.<p>
  <br/>

  <div class= "text-center globe">
    <span class="glyphicon glyphicon-globe"></span>
  </div>
  <br/>
  
  <div class="text-center call_action">  
    <h4>Join the movement now!</h4>
  </div>
</div>