<div class="container text-center">
  <h2>About Us</h2>
  <p>We are <strong>IoT DevMatch</strong>. 
  Our company focuses on creating an exclusive community of 
  <strong>developers</strong>, <strong>designers</strong> and 
  <strong>entrepreneurs</strong> interested in the Internet of Things.<br> 
  Members can connect with like-minded peers, pitch their ideas and create 
  meaningful <strong>smart</strong> things.<br> 
  <strong>Join the movement now!</strong></p> 
</div>