<div class="home-callout text-center container-fluid">
    <h1>Welcome to IoT DevMatch<h1>
    <h3>A membership site where product leaders can meet developers</h3>
</div>
<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="basic_info text-center">Basic Membership</h2>
        <br/>
        <h5 class="basic_info text-center">Sign up and get basic access to the community, publications and free training courses</h5>
        <br/>
        <h5 class="basic_info text-center">Completely free</h5>
        <br/>
          <div class="text-center">
            <span class="glyphicon glyphicon-user fa-3x"></span>
          </div>  
        <br/>
        <%= link_to "Get Free Account", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="premium_info text-center">Premium Membership</h2>
        <br/>
        <h5 class="premium_info text-center">Sign up for the premium account, get full access to the community, and find the perfect business partner for your project!</h5>
        <br/>
        <h5 class="premium_info text-center">$4.99 a month</h5>
        <br/>
          <div class="text-center">
            <span class="glyphicon glyphicon-briefcase fa-3x"></span>
          </div>  
        <br/>
        <%= link_to "Get Premium Account", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>
