/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

// Typography Styles
h1, h2, h3, h4, h5 { 
  font-family: 'Open Sans', sans-serif;
}

// Background Gradient 
.navbar, .home-callout, .footer {
  // Gradient obtain at uiGradients.com
  background: #614385;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Nav Styles
.navbar {
  border: none;  
}

.navbar-brand {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 800;
}
  
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.70;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 1px solid white;
  &:hover, &:focus {
    background-color: #614385;
  }
}

// Home Page Styles 
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

// Hide alert message from divise gem (log out)
.alert-notice {
  display: none;
}

// Comments section resized only vertical
textarea#contact_comments {
  resize: vertical;
}

.basic_info, .premium_info {
  color: #614385 ;
}

.social {
  color: white;
}

.home-signup-links {
  margin-top: 30px;
}

// Requirements for footer in bootstrap 
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  padding: 1rem;
  text-align: center;
}
