.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: white;
    h4 {
    margin-top: 0;      
  }
}

.well.profile-contact {
  background-color: #614385;
  border-color: #47384a;
}

.well.profile-description {
  background-color: rgba(0, 212, 116, 0.74);
  border-color: #4caea8;
}